<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JSFM-TB-014-020-Introduction-To-Java-EE">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="JSFM-TB-014-020-Introduction-To-Java-EE"/>
        <property name="java-output-path" value="/JSFM-TB-014-020-Introduction-To-Java-EE/build/classes"/>
    </wb-module>
</project-modules>
